<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>com.ivoyant.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.ivoyant.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>Substract</servlet-name>
    <servlet-class>com.ivoyant.Substract</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Substract</servlet-name>
    <url-pattern>/substract</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Multiply</servlet-name>
    <servlet-class>com.ivoyant.Multiply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Multiply</servlet-name>
    <url-pattern>/multiply</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Division</servlet-name>
    <servlet-class>com.ivoyant.Division</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Division</servlet-name>
    <url-pattern>/division</url-pattern>
  </servlet-mapping>

</web-app>
